asgiref                
asttokens           
backcall             
backports.zoneinfo     
certifi               
charset-normalizer   
decorator             
Django                
django-extensions      
executing          
idna                
ipython                
jedi                 
jsonpatch         
jsonpointer          
matplotlib-inline     
mysql-connector        
mysql-connector-python 
networkx              
numpy                
parso                
pexpect            
pickleshare                                           
plus                  
prompt-toolkit        
protobuf            
psycopg2-binary    
ptyprocess          
pure-eval         
Pygments            
requests               
scipy                 
setuptools             
shell            
six                  
sqlparse               
stack-data            
tornado                
traitlets              
typing_extensions      
urllib3                
visdom                 
wcwidth                
websocket-client       